In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
final_df=pd.read_csv('flood.csv')

In [33]:
final_df.head()

,Sl.No\n - India,Year,Area affected in m.ha. - India,Population affected in million - India,Damage to Crops - Area in m. ha. - India,Damage to Crops - Value in Rs.Crore - India,Damage to Houses - Nos. - India,Damage to Houses - Value in Rs.Crore - India,Cattle Lost Nos. - India,Human live Lost Nos. - India,...,Area affected in m.ha. - Bihar,Population affected in million - Bihar,Damage to Crops - Area in m. ha. - Bihar,Damage to Crops - Value in Rs.Crore - Bihar,Damage to Houses - Nos. - Bihar,Damage to Houses - Value in Rs.Crore - Bihar,Cattle Lost Nos. - Bihar,Human live Lost Nos. - Bihar,Damage to Public Utilities in Rs.Crore - Bihar,"Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar"
0,1,1953,2.29,24.28,0.93,42.08,264924,7.420,47034,37,...,0.97,6.77,0.93,29,184300,6,33,5,1.5,36.5
1,2,1954,7.49,12.92,2.61,40.52,199984,6.561,22552,279,...,2.50,7.67,1.59,15,179451,5,1944,63,1.5,21.5
2,3,1955,9.44,25.27,5.31,77.80,1666789,20.945,72010,865,...,1.77,7.11,1.01,20.3,111356,1.12,57,44,0.205,21.625
3,4,1956,9.24,14.57,1.11,44.44,725776,8.047,16108,462,...,1.32,3.12,0.4,5.22,79879,0.51,138,32,Nil,5.73
4,5,1957,4.86,6.76,0.45,14.12,318149,4.979,7433,352,...,0.79,1.73,0.3,Neg,18812,Neg,18,7,Nil,Neg

In [55]:
final_df['Population affected in million - India']=final_df['Population affected in million - India'].astype(int)

In [57]:
final_df['Population affected in million - India']=final_df['Population affected in million - India'].round()

In [58]:
final_df.head()

,Sl.No\n - India,Year,Area affected in m.ha. - India,Population affected in million - India,Damage to Crops - Area in m. ha. - India,Damage to Crops - Value in Rs.Crore - India,Damage to Houses - Nos. - India,Damage to Houses - Value in Rs.Crore - India,Cattle Lost Nos. - India,Human live Lost Nos. - India,...,Area affected in m.ha. - Bihar,Population affected in million - Bihar,Damage to Crops - Area in m. ha. - Bihar,Damage to Crops - Value in Rs.Crore - Bihar,Damage to Houses - Nos. - Bihar,Damage to Houses - Value in Rs.Crore - Bihar,Cattle Lost Nos. - Bihar,Human live Lost Nos. - Bihar,Damage to Public Utilities in Rs.Crore - Bihar,"Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar"
0,1,1953,2.29,24,0.93,42.08,264924,7.420,47034,37,...,0.97,6.77,0.93,29,184300,6,33,5,1.5,36.5
1,2,1954,7.49,12,2.61,40.52,199984,6.561,22552,279,...,2.50,7.67,1.59,15,179451,5,1944,63,1.5,21.5
2,3,1955,9.44,25,5.31,77.80,1666789,20.945,72010,865,...,1.77,7.11,1.01,20.3,111356,1.12,57,44,0.205,21.625
3,4,1956,9.24,14,1.11,44.44,725776,8.047,16108,462,...,1.32,3.12,0.4,5.22,79879,0.51,138,32,Nil,5.73
4,5,1957,4.86,6,0.45,14.12,318149,4.979,7433,352,...,0.79,1.73,0.3,Neg,18812,Neg,18,7,Nil,Neg

In [34]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 42 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   Sl.No
 - India                                                                            69 non-null     object
 1   Year                                                                                      69 non-null     object
 2   Area affected in m.ha. - India                                                            69 non-null     float64
 3   Population affected in million - India                                                    69 non-null     float64
 4   Damage to Crops - Area in m. ha. - India                                                  69 non-null     float64
 5   Damage to Crops - Value in Rs.Crore - India                                               69 non-null     float64
 6   Damage to Houses - Nos. - India                                                           69 non-null     int64
 7   Damage to Houses - Value in Rs.Crore - India                                              69 non-null     float64
 8   Cattle Lost Nos. - India                                                                  69 non-null     int64
 9   Human live Lost Nos. - India                                                              69 non-null     int64
 10  Damage to Public Utilities in Rs.Crore - India                                            69 non-null     float64
 11  Total Damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - India           69 non-null     float64
 12  Area affected in m.ha. - Uttar Pradesh                                                    67 non-null     float64
 13  Population affected in million - Uttar Pradesh                                            69 non-null     float64
 14  Damage to Crops - Area in m. ha. - Uttar Pradesh                                          68 non-null     float64
 15  Damage to Crops - Value in Rs.Crore - Uttar Pradesh                                       67 non-null     float64
 16  Damage to Houses - Nos. - Uttar Pradesh                                                   69 non-null     int64
 17  Damage to Houses - Value in Rs.Crore - Uttar Pradesh                                      66 non-null     float64
 18  Cattle Lost Nos. - Uttar Pradesh                                                          68 non-null     float64
 19  Human live Lost Nos. - Uttar Pradesh                                                      68 non-null     float64
 20  Damage to Public Utilities in Rs.Crore - Uttar Pradesh                                    66 non-null     object
 21  Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Uttar Pradesh   68 non-null     float64
 22  Area affected in m.ha. - Madhya Pradesh                                                   68 non-null     object
 23  Population affected in million - Madhya Pradesh                                           68 non-null     object
 24  Damage to Crops - Area in m. ha. - Madhya Pradesh                                         67 non-null     object
 25  Damage to Crops - Value in Rs.Crore - Madhya Pradesh                                      66 non-null     object
 26  Damage to Houses - Nos. - Madhya Pradesh                                                  68 non-null     object
 27  Damage to Houses - Value in Rs.Crore - Madhya Pradesh                                     66 non-null     object
 28  Cattle Lost Nos. - Madhya Pradesh                                                         68 non-null     object
 29  Human live Lost Nos. - Madhya Pradesh                                                     68 non-null     object
 30  Damage to Public Utilities in Rs.Crore - Madhya Pradesh                                   68 non-null     object
 31  Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Madhya Pradesh  69 non-null     object
 32  Area affected in m.ha. - Bihar                                                            67 non-null     float64
 33  Population affected in million - Bihar                                                    68 non-null     float64
 34  Damage to Crops - Area in m. ha. - Bihar                                                  69 non-null     object
 35  Damage to Crops - Value in Rs.Crore - Bihar                                               67 non-null     object
 36  Damage to Houses - Nos. - Bihar                                                           69 non-null     int64
 37  Damage to Houses - Value in Rs.Crore - Bihar                                              68 non-null     object
 38  Cattle Lost Nos. - Bihar                                                                  68 non-null     object
 39  Human live Lost Nos. - Bihar                                                              69 non-null     object
 40  Damage to Public Utilities in Rs.Crore - Bihar                                            68 non-null     object
 41  Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar           69 non-null     object
dtypes: float64(17), int64(5), object(20)
memory usage: 22.8+ KB

In [35]:
final_df.isnull().sum()

Sl.No\n - India                                                                             0
Year                                                                                        0
Area affected in m.ha. - India                                                              0
Population affected in million - India                                                      0
Damage to Crops - Area in m. ha. - India                                                    0
Damage to Crops - Value in Rs.Crore - India                                                 0
Damage to Houses - Nos. - India                                                             0
Damage to Houses - Value in Rs.Crore - India                                                0
Cattle Lost Nos. - India                                                                    0
Human live Lost Nos. - India                                                                0
Damage to Public Utilities in Rs.Crore - India                                              0
Total Damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - India             0
Area affected in m.ha. - Uttar Pradesh                                                      2
Population affected in million - Uttar Pradesh                                              0
Damage to Crops - Area in m. ha. - Uttar Pradesh                                            1
Damage to Crops - Value in Rs.Crore - Uttar Pradesh                                         2
Damage to Houses - Nos. - Uttar Pradesh                                                     0
Damage to Houses - Value in Rs.Crore - Uttar Pradesh                                        3
Cattle Lost Nos. - Uttar Pradesh                                                            1
Human live Lost Nos. - Uttar Pradesh                                                        1
Damage to Public Utilities in Rs.Crore - Uttar Pradesh                                      3
Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Uttar Pradesh     1
Area affected in m.ha. - Madhya Pradesh                                                     1
Population affected in million - Madhya Pradesh                                             1
Damage to Crops - Area in m. ha. - Madhya Pradesh                                           2
Damage to Crops - Value in Rs.Crore - Madhya Pradesh                                        3
Damage to Houses - Nos. - Madhya Pradesh                                                    1
Damage to Houses - Value in Rs.Crore - Madhya Pradesh                                       3
Cattle Lost Nos. - Madhya Pradesh                                                           1
Human live Lost Nos. - Madhya Pradesh                                                       1
Damage to Public Utilities in Rs.Crore - Madhya Pradesh                                     1
Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Madhya Pradesh    0
Area affected in m.ha. - Bihar                                                              2
Population affected in million - Bihar                                                      1
Damage to Crops - Area in m. ha. - Bihar                                                    0
Damage to Crops - Value in Rs.Crore - Bihar                                                 2
Damage to Houses - Nos. - Bihar                                                             0
Damage to Houses - Value in Rs.Crore - Bihar                                                1
Cattle Lost Nos. - Bihar                                                                    1
Human live Lost Nos. - Bihar                                                                0
Damage to Public Utilities in Rs.Crore - Bihar                                              1
Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar             0
dtype: int64

In [36]:
final_df['Damage to Houses - Value in Rs.Crore - Uttar Pradesh'].unique()

array([1.110000e+00, 1.900000e-01, 2.820000e+00, 6.600000e+00,
       4.620000e+00, 0.000000e+00, 2.700000e-02, 1.172000e+00,
       2.741000e+00, 3.200000e-01, 1.000000e-02, 7.080000e-01,
       5.003000e+00, 3.930000e-01, 2.765000e+00, 2.080000e+01,
       2.025700e+01, 1.010000e+00, 1.076800e+01, 1.278500e+01,
       2.908000e+00, 2.250000e+01, 5.000000e+00, 9.000000e+01,
       1.722000e+00, 1.001240e+02, 1.227760e+02, 2.545500e+02,
       1.291300e+02, 2.149000e+01, 2.480800e+02, 2.056400e+01,
       3.894000e+01, 1.484200e+02, 6.052000e+01, 3.135000e+01,
       5.558000e+01, 1.186300e+02, 3.712100e+01, 7.000000e+01,
       5.934600e+01, 3.005000e+00, 1.353900e+01, 1.785000e+01,
       1.202000e+00, 9.985900e+01, 1.330000e+00, 2.130540e+02,
       4.277000e+00, 7.936800e+01, 1.119900e+01,          nan,
       2.177533e+03, 3.512100e+01, 1.982000e+03])

In [37]:
final_df[final_df['Damage to Houses - Value in Rs.Crore - Uttar Pradesh'].isnull()]

,Sl.No\n - India,Year,Area affected in m.ha. - India,Population affected in million - India,Damage to Crops - Area in m. ha. - India,Damage to Crops - Value in Rs.Crore - India,Damage to Houses - Nos. - India,Damage to Houses - Value in Rs.Crore - India,Cattle Lost Nos. - India,Human live Lost Nos. - India,...,Area affected in m.ha. - Bihar,Population affected in million - Bihar,Damage to Crops - Area in m. ha. - Bihar,Damage to Crops - Value in Rs.Crore - Bihar,Damage to Houses - Nos. - Bihar,Damage to Houses - Value in Rs.Crore - Bihar,Cattle Lost Nos. - Bihar,Human live Lost Nos. - Bihar,Damage to Public Utilities in Rs.Crore - Bihar,"Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar"
62,63,2015,4.478,33.203,3.374,17043.948,3959191,8046.969,45597,1420,...,NaN,0.279,0,NaN,518,0.694,1,27,62,62.694
63,64,2016,7.065,26.555,6.658,4052.723,278240,114.676,22367,1420,...,0.41,8.823,0.41,443.53,16717,44.262,246,254,40.97,528.762
64,65,2017,0.000,17.915,5.124,6923.800,1151755,9176.480,5473,2015,...,NaN,NaN,0.81,NaN,118410,NaN,NaN,514,NaN,0

In [38]:
final_df['Damage to Houses - Value in Rs.Crore - Uttar Pradesh'] = final_df['Damage to Houses - Value in Rs.Crore - Uttar Pradesh'].fillna(final_df['Damage to Houses - Value in Rs.Crore - Uttar Pradesh'].mode())

In [43]:
final_df['Area affected in m.ha. - Bihar'].unique()

array([9.7000e-01, 2.5000e+00, 1.7700e+00, 1.3200e+00, 7.9000e-01,
       7.1000e-01, 2.1000e-01, 1.2700e+00, 1.1100e+00, 2.7000e-01,
       1.1200e+00, 4.3000e-01, 1.5300e+00, 1.2500e+00, 7.3000e-01,
       9.3000e-01, 4.2600e+00, 2.2000e-01, 3.1400e+00, 2.3100e+00,
       2.9900e+00, 1.1500e+00, 2.3700e+00, 8.1000e-01, 1.9200e+00,
       1.2600e+00, 1.4700e+00, 3.0500e+00, 1.7550e+00, 4.1640e+00,
       1.0500e+00, 4.7100e-01, 8.7000e-01, 9.8000e-01, 7.6000e-02,
       4.1500e-01, 6.0100e-01, 9.2600e-01, 1.1890e+00, 1.4710e+00,
       2.5120e+00, 8.4500e-01, 7.7900e-01, 1.1950e+00, 1.9690e+00,
       1.5080e+00, 2.7000e+00, 4.6000e-01, 1.8200e-01, 1.8800e+00,
       8.8200e-01, 1.1050e+00, 1.9900e-01, 0.0000e+00, 6.0000e-01,
       3.9000e+00,        nan, 4.1000e-01, 8.1694e+01, 1.2970e+00,
       1.9710e+03])

In [44]:
final_df['Area affected in m.ha. - Bihar']=final_df['Area affected in m.ha. - Bihar'].fillna(final_df['Area affected in m.ha. - Bihar'].median())

In [45]:
final_df.describe()

,Area affected in m.ha. - India,Population affected in million - India,Damage to Crops - Area in m. ha. - India,Damage to Crops - Value in Rs.Crore - India,Damage to Houses - Nos. - India,Damage to Houses - Value in Rs.Crore - India,Cattle Lost Nos. - India,Human live Lost Nos. - India,Damage to Public Utilities in Rs.Crore - India,"Total Damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - India",...,Damage to Crops - Area in m. ha. - Uttar Pradesh,Damage to Crops - Value in Rs.Crore - Uttar Pradesh,Damage to Houses - Nos. - Uttar Pradesh,Damage to Houses - Value in Rs.Crore - Uttar Pradesh,Cattle Lost Nos. - Uttar Pradesh,Human live Lost Nos. - Uttar Pradesh,"Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Uttar Pradesh",Area affected in m.ha. - Bihar,Population affected in million - Bihar,Damage to Houses - Nos. - Bihar
count,69.000000,69.000000,69.000000,69.000000,6.900000e+01,69.000000,6.900000e+01,69.000000,69.000000,69.000000,...,68.000000,67.000000,6.900000e+01,66.000000,68.000000,68.000000,68.000000,69.000000,68.000000,6.900000e+01
mean,42.363797,89.803971,36.718536,3465.707159,2.412103e+06,1750.384739,1.850618e+05,3332.188406,6490.958710,11545.744797,...,31.027794,299.098597,4.486577e+05,100.405106,2817.029412,600.000000,653.838824,31.045870,41.889015,3.118850e+05
std,242.684190,336.072292,242.358428,13308.127878,9.599281e+06,6729.961448,7.250582e+05,12862.691701,25148.096525,44878.460164,...,239.870218,1062.440970,1.747095e+06,358.779947,10915.037866,2244.262688,2410.410045,237.176981,246.335147,1.215492e+06
min,0.000000,3.610000,0.270000,5.870000,2.015000e+03,0.195000,1.979000e+03,37.000000,1.050000,7.135000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.244000,5.180000e+02
25%,4.860000,19.520000,2.450000,162.780000,6.098840e+05,41.112000,2.153300e+04,865.000000,68.112000,287.827000,...,0.279250,4.831000,2.295800e+04,0.471750,158.000000,83.750000,3.837750,0.730000,2.591750,1.671700e+04
50%,7.081000,29.663000,3.374000,888.622000,9.146640e+05,181.308000,6.045000e+04,1455.000000,740.762000,2015.000000,...,0.651000,43.000000,8.523400e+04,5.801500,1036.500000,212.000000,65.343000,1.110000,4.985000,6.824200e+04
75%,9.240000,45.013000,5.124000,2015.000000,1.763603e+06,756.481000,1.286380e+05,1977.000000,3106.300000,7109.416000,...,1.505000,212.231500,3.280130e+05,58.404500,2182.750000,425.500000,562.586250,1.770000,8.358000,1.843000e+05
max,1978.000000,2058.180000,2005.000000,109197.443000,8.061683e+07,53566.824000,6.028149e+06,107487.000000,201909.504000,365860.832000,...,1979.000000,8476.266000,1.440532e+07,2177.533000,90369.000000,18561.000000,19420.584000,1971.000000,2004.000000,9.983005e+06